<div class ="container-fluid">
<div class = "row">
<div class= "col-xl-12 saveBg">

</div>

</div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div id =""
            <ul class="list-group list-group-horizontal">
                {{#each Article}}
                <li class="list-group-item">

                    <div class="card">
                        <h4 class="card-title">Saved Article
                        </h4>
                        <div class="card-body">

                            <p class="card-text">
                                <div class="media" data-id='{{this._id}}'>

                                    <img class="d-flex mr-3" src='{{this.image}}' width='150' height='100'
                                        alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">{{this.title}}</h5>
                                        <a class='card-link' href='{{this.link}}'>
                                            Link</a>
                                        <button id='comment' data-id='{{this._id}}' type='button'
                                            class='btn btn-primary btn-sm'>Comment</button>
                                    </div>
                                </div>
                            </p>

                        </div>
                    </div>




                </li>
                <br>

                {{/each}}
            </ul>


        </div>
    </div>

    <div class="col-md-4 col-sm-12">

            <div id="notes"></div>

        </div>
</div>


<script type="text/javascript">
    $(document).on("click", "h5", function () {
        $("#notes").empty();
    });

    $(document).on("click", "#comment", function () {
        $("#notes").empty();

        var id = $(this).attr("data-id");

        $.ajax({
            method: "GET",
            dataType: "json",
            url: "/article/" + id
        }).then(function (data) {


            var divCard = $("<div>");
            divCard.addClass("card");
            var divBody = $("<div>");
            divBody.addClass("card-body");

            divBody.append("<h4> Title </h4>");
            divBody.append("<h4>" + data.title + "</h4>");

            divBody.append("<h4> Notes </h4>");

            divBody.append("<input type='text' class='form-control' id='bodyinput' name='body'placeholder='Example input'><br>");
            divBody.append("<button type='button' class='btn btn-primary btn-sm' data-id='" + data._id + "' id='savenote'>Save Note</button>");
            divBody.append("<button type='button' class='btn btn-danger btn-sm' data-id='" + data._id + "' id='deleteNote'>Delete All Note</button><br><br>");
            divBody.append("<ul class='list-group ul' id='noteDisplay' name='body'></ul>");


            console.log(data.note);
            for (var i = 0; i < data.note.length; i++) {

                divBody.append("<li class='list-group-item' data-id='" + data.note[i]._id + "'>" + data.note[i].body + "   <span id='smDelete'><button data-id='" + data.note[i]._id + "' class='btn btn-danger btn-sm delete'>x</button></span></li>");


            }

            divCard.append(divBody);
            $("#notes").append(divCard);
        });
        //ajax end clsoure here
    });
    //p click end closure here

    $(document).on("click", "#savenote", function () {

        var thisId = $(this).attr("data-id");

        $.ajax({
            method: "POST",
            url: "/postNote/" + thisId,
            data: {
                articleID: thisId,
                body: $("#bodyinput").val()
            }
        }).then(function (dataNote) {

            $("#notes").empty();
        });
        //savenote create button end closure here

        $("#titleinput").val("");
        $("#bodyinput").val("");
    })

    $(document).on("click", ".delete", function (e) {
        e.preventDefault();
        var selected = $(this).attr("data-id");
        var spanTag = $(this).parent();
        var liTag = spanTag.parent();
        console.log(selected)

        $.ajax({
            method: "GET",
            url: "/deleteNote/" + selected,
            success: function (response) {
                liTag.remove();
                $("#titleinput").val("");
                $("#bodyinput").val("");
            }
        })


    });
    ///delete end closure here




    $(document).on("click", "#deleteNote", function (e) {
        e.preventDefault();
        var id = $(this).attr("data-id");
        $.ajax({
            method: "GET",
            url: "/deleteAll/" + id
        }).then(function () {

            $("li").remove();
        });
    });
  //deleteNote end closure here


  $(document).on("click","#savedArticle",function(e){
    e.preventDefault();
    
    var id = $(this).attr("data-id");

    $.ajax({
        method: "GET",
        url: "/articleSaved/" + id
    }).then(function(updated){
        console.log(updated);
    })
  });
  //savedarticle end closure here

</script>